{% load static  %}
      <footer class="admin-footer">
        <div class="container-fluid px-3 px-lg-4">
          <span>Copyright 2026 WACS Conference. <br>
             Developed by <a target="_blank" class="fw-bold text-success" href="https://doubleedgetechnologies.com.ng" target="_blank">Double Edge Technologies</a> </span>
          <span></span>
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
